body {
  background-color: #FBFCF7;
  padding: 0;
  margin: 0;
}

.issue-container {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.issue-title {
  display: grid;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.posts-container {
  display: grid;
  gap: 1rem;
  // padding: 1rem;
}

.post {
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

hr {
  border: none;
  border-top: 1px solid #eee;
}